{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V5</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<form action="" ,method="GET">
		<label for="dob">Date of Birth:</label>
		<input type="text" id="dob" name="dob" value={{dataa.Birthday}}><br><br>

		<label for="age">Age:</label>
		<input type="text" id="age" name="age"><br><br>

		<label for="jtitle">Job Title:</label>
		<input type="text" id="jtitle" name="jtitle"><br><br>

		<label for="aboutme1">About Me Home:</label>
		<input type="text" id="aboutme1" name="aboutme1"><br><br>

		<label for="aboutme2">About Me About:</label>
		<input type="text" id="aboutme2" name="aboutme2"><br><br>

		<label for="email">Email:</label>
		<input type="text" id="email" name="email"><br><br>

		<label for="mobile">Mobile:</label>
		<input type="text" id="mobile" name="mobile"><br><br>


		<!-- Education -->
		<label for="degree_name">degree_name:</label>
		<input type="text" id="degree_name" name="degree_name"><br><br>

		<label for="institute_name">institute_name:</label>
		<input type="text" id="institute_name" name="institute_name"><br><br>

		<label for="year_of_education">year_of_education:</label>
		<input type="text" id="year_of_education" name="year_of_education"><br><br>

		<label for="about_education">about_education:</label>
		<input type="text" id="about_education" name="about_education"><br><br>


		<button type="submit", button type="submit", formmethod="POST">
			{% csrf_token %}
			Submit Here
		</button>
	</form>
</body>
</html>